@import '../../styles/abstract/variables.scss' ;

.sidebar-wrapper{
  z-index: 999;
  top: -110px;
  left: -280px;
  position: absolute;
  bottom: 0;
  padding: 35px;
  line-height: inherit;
  background: #fff;
  width: 280px;
  height: 150%;
  text-align: left;
  box-shadow: 0 0 21px 0 rgb(89 102 122 / 10%);
  @media screen and (min-width: 900px) {
  left: 0px;
  top: 100px;
  position: fixed;
  margin: 30px;
  border-radius: 15px;
  height: 80vh;
  }
}

.sidebar-item{
  margin-bottom: 24px;
  cursor: pointer;
  span{
    margin-left: 12px;
  }
}
