@import '../../styles/abstract/variables.scss';

.container_profile {
  margin: 0px auto;
  margin-bottom: 20px;
  width: 90%;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px rgb(8 21 66 / 5%);
  box-shadow: 0 0 20px rgb(8 21 66 / 5%);
}
.form__profile {
  padding: 20px;
  letter-spacing: 0.5px;
}

.personal__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .personal-info__img img {
    align-items: center;
    width: 150px;
    height: 170px;
    border-radius: 5px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .personal-info__uplode {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 18px;
  }

  .personal-info__uplode p {
    font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1920 - 320)));
    margin-top: 12px;
    margin-bottom: 16px;
    text-align: center;
    @media screen and (min-width: 576px) {
      text-align: left;
    }
  }
  .personal__info .uplode-img {
    position: relative;
  }
  .img_profile {
    width:50%
  }
  .personal-info__uplode label {

    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    color: #9aa4c8;
    font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1920 - 320)));
    cursor: pointer;
  }
  .uplode-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 576px) {
      align-items: flex-start;
    }
  }
  .uplode-img input {
    background-color: #f8f8f8;
    border: 1px solid rgba(0,0,0,0.1);
    color: #9aa4c8;
    font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1920 - 320)));
    opacity: 0;
  }
}

  .btn__profile {
    border-radius: 5px;
    font-weight: 700;
    padding: 9px 14px;
    background-color: $primary-color;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .btn__profile:hover {
    background-color: #ffffff;
    color: $primary-color;
    outline: 1px solid $primary-color;
  }
  button[type=button].btn__delete-acc {
    margin-top: 15px;
    border-radius: 5px;
    font-weight: 700;
    padding: 9px 14px;
    outline: 1px solid $primary-color;
    background-color: #ffffff;
    color: $primary-color;
    transition: all 0.5s ease;
  }
  button[type=button].btn__delete-acc:hover {
    background-color: $primary-color;
    color: #ffffff;
    outline: none;
  }
   .remove_img {
    align-items: flex-start;
   }
  .container__form_profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;

    .container__inputs_profile {
      padding-right: 20px;
      padding-bottom: 20px;
    }
    .inputs__profile {
      flex-wrap: wrap;
      width: 100%;
      padding: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320))) 10px;
      line-height: 1.5;
      border: 1px solid #ced4da;
      border-radius: 5px;
    }
  }


  @media screen and (min-width: 576px) {
    .personal__info {
      flex-direction: row;

    .personal-info__img {
      flex-wrap: wrap;
    }
  }
    .container__inputs_profile {
      width: 100%;
    }
  }

  @media screen and (min-width: 576px) {
    .container__form_profile {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;

      .personal__info{
        text-align: left;
      }
      .container__inputs_profile {
        width: 50%;
      }
    }
    .personal__info {
      .personal-info__uplode {
        align-items: flex-start;
      }
  }
}

  @media screen and (min-width: 1024px) {
    .container__inputs_profile{
      flex-direction: row;

    }

    .container__form_profile {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

    }
  }


