@import '../../styles/abstract/variables.scss';

.cab-search-list {
  width: 100%;

  .list-container {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
  }

  ul.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
  }

  li.pagination__item {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    background-color: $white;
    box-shadow: 0 0 8px $medium-gray;
    cursor: pointer;

    &.active {
      color: $white;
      background-color: $primary-color ;
    }
    &.disabled {
      pointer-events: none;
      opacity: 0;
    }
  }

}

@media screen and (min-width: 768px) {
  // styles
}

@media screen and (min-width: 1000px) {
  .cab-search-list {
    width: calc(77% - 30px);
  }
}
