@import '../../styles/abstract/variables.scss';

.label-input {
  width: 48%;
  padding-top: 10px;

  label {
    display: block;

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid $light-gray;
      color: $light-gray;
      background-color: $white;
    }
  }

  &.modal {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0;
    width: 100%;

    label>div {
      margin-bottom: 5px;
    }

    label>input {
      margin-bottom: 12px;
    }
  }
}


@media screen and (min-width: 1000px) {

  .label-input {
    width: 30%;
    padding: 0 !important;
    padding-right: 24px !important;

    div {
      color: $black;
      font-weight: 700;
    }

  }
}
