@import '../../styles/abstract/variables.scss';

.container__app {
    display: flex;
    background-image: url(/src/assets/images/app-bg.jpg);
    background-size: cover;
    background-position: center center;
    align-content: center;
    text-align: center;
    padding: 50px 0px 10px 0px;

.app-content {
  text-align: center;
  padding-top: 100px 0px 100px 0px;
  height: 300px;
  width: 50%;
  align-items: flex-start;

}

.text__new{
    font-family: $font-custom;
    font-weight: 600;
    padding: 5px 18px;
    background-color: $white;
    color: $primary-color;
}

.title {
    color: $white;
    font-size: calc(24px + (50 - 24) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: -7px;
}
p {
    text-justify: auto;
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
    color: rgba(255, 255, 255, 0.78);
    letter-spacing: 0.02em;
    line-height: 1.7;
    margin-bottom: 30px;
}
h3{
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 42px;
    font-weight: 800;
    color: $white;
}

.app__buttons{
  padding: 10px;

 a {
  color: $primary-color;
  font-weight: 700;
  line-height: 20px;
  background-color: $white;
  border-radius: 5px;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  padding: 10px 16px;
  margin-left: 10px;
}
}


.container_img{
    display: flex;
    width: 50%;

  }

    .phones{

      padding: 10px;

    }
  }


