@import '../../styles/abstract/variables.scss';

.container__app {
  display: flex;
  background-image: url(/src/assets/images/app-bg.jpg);
  background-size: cover;
  background-position: center center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 50px 0px 10px 0px;


  .container_img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .image {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }

  .app-content {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .container__app {
    flex-direction: row-reverse;

    .container_img {
      width: 50%;
    }

    .app-content {
      width: 50%;
    }
  }
}
