@import '../../styles/abstract/variables.scss';

.cab-search-main {
  background-color: $very-light-snow;

  .cab-search-body {
    max-width: 1400px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    padding: 30px 12px;
  }
}


@media screen and (min-width: 768px) {

  .cab-search-body {
    margin: 0 24px;
  }
}

@media screen and (min-width: 1000px) {
  .cab-search-main {

    .cab-search-body {
      gap: 30px;
      margin: 0 24px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .cab-search-main {

    .cab-search-body {
      margin: 0 auto;
    }
  }
}
