@import '../../styles/abstract/variables.scss';

.table-container{
  margin: 0px auto;
  width: 90%;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px rgb(8 21 66 / 5%);
  box-shadow: 0 0 20px rgb(8 21 66 / 5%);

  .add-button{
    display: flex;
    align-items: center;
    span{
      margin-left: 5px;
    }
  }

  tbody{
    td{
      .status--past, .status--cancelled, .status--upcoming{
        color: $white;
        padding: 4px 8px;
        border-radius: 5px;
      }
      .status--past{
        background-color: $blue;
      }
      .status--cancelled{
        color: $white;
        background-color: $cancelled-gray
      }
      .status--upcoming{
        color: $white;
        background-color: $primary-color;
      }
      .reschedule, .cancel, .complete-trip{
        cursor: pointer;
        transition: color 0.2s ease-in-out;
      }
      .reschedule:hover, .cancel:hover, .complete-trip:hover{
        color: $primary-color;
      }
    }
  }
}

