@import '../../styles/abstract/variables.scss';


.container__icons {

    display: flex;
    align-content: center;
    text-align: center;
    border: 1px solid #f7f7f7;
    border-radius: 5px;


.title__card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #f7f7f7;
    background-color: $primary-color;
}


.card {
    border: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 2px black;
    height: auto;
    fill: rgba(0, 0, 0, 0.67);

}

img {
 
    width: 50px;
    justify-content: space-evenly;
}
}