@import '../../styles/abstract/variables.scss';

.cab-search-section {
  width: 100%;
  background-color: $white;

  /* Borrar estilos boton */
  button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
  }

  .cab-search-mobile {


    .cab-search-details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
        vertical-align: middle;
      }

      h5 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
        text-transform: capitalize;
        color: $medium-dark-gray;
      }
    }

    .latest-filters__title {
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      color: black;
      font-weight: 700;
      cursor: pointer;
    }

    h5 {
      font-size: 1.45rem;
    }

    .latest-filtes__icon {
      width: 16px;
      height: 16px;
      background-image: url('../../assets/icons/adjust.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .margin {
      padding: 15px 20px;
    }
  }

  .cab-search-desktop {
    display: none;
  }
}


@media screen and (min-width: 768px) {
  // styles
}

@media screen and (min-width: 1000px) {
  .cab-search-section {

    .cab-search-mobile {
      display: none;
    }

    .cab-search-desktop {
      display: block;
    }
  }
}
