.date-picker {
  padding: 5px;
  display: inline-block;
  background-color: white;
  font-size: 100%;

  input {
    font-size: 1.4rem;
    padding: 8px 12px;
  }
}

svg.MuiSvgIcon-root {
  font-size: 2rem;
}

.MuiPickersCalendarHeader-label {
  font-size: 2rem;
}

.MuiDayCalendar-weekDayLabel {
  font-size: 1.75rem !important;
}

.css-1beqopj-MuiPickersYear-yearButton {
  font-size: 1.5rem;
  text-align: center;
}

.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root,
.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-1e3wlyl-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item {
  font-size: 1.4rem !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-size: 1.75rem !important;
}
