@import '../../styles/abstract/variables.scss';

.modal .mantine-Input-wrapper {
  margin-bottom: 12px;
}

div.mantine-Modal-inner.mantine-1nb50hw {
  align-items: center !important;
}

.mantine-DateTimePicker-placeholder {
  color: $light-gray
}

.mantine-Modal-body button {
  padding: 5px !important;
  margin: 5px;
}

.mantine-CalendarHeader-calendarHeader.mantine-DateTimePicker-calendarHeader.mantine-MonthLevel-calendarHeader.mantine-DateTimePicker-calendarHeader.mantine-1emfdtu {
  justify-content: center;
  max-width: 100%;
}

.mantine-CalendarHeader-calendarHeader.mantine-DateTimePicker-calendarHeader.mantine-YearLevel-calendarHeader.mantine-DateTimePicker-calendarHeader.mantine-1emfdtu {
  justify-content: center;
  max-width: 100%;
}

.mantine-UnstyledButton-root.mantine-Day-day.mantine-DateTimePicker-day.mantine-7yisjr[data-weekend] {
  color: $very-dark-gray;
  font-weight: 700;
}

.mantine-5rrl7o[data-with-spacing] {
  text-align: center;
}

.mantine-DateTimePicker-weekday {
  font-size: 1.5rem;
}

.mantine-TimeInput-input {
  height: 100%;
  padding: 5px 10px;
  font-size: 1.5rem;
}

button.mantine-ActionIcon-root[type="button"] {
  border: 1px solid $primary-color;
  border-radius: 3px;
  width: 9%;
  height: 100%;
  text-align: center;
  background: $primary-color;

  svg {
    width: 1.2rem !important;

    path {
      fill: $white !important;
    }
  }
}

.mantine-DateTimePicker-input.mantine-Input-input.mantine-DateTimePicker-input.mantine-k8iznv {
  color: $light-gray;
}
