@import '../../styles/abstract/variables.scss';


.input_radio_payment{
  display: flex;
  position: relative;
  border: 1px solid #eeeeee;
  background-color: #eeeeee;

    input {
       box-sizing: b;
      color: $primary-color;
      margin-left: 16px;
      position: relative;
      margin-right: 30px;
      margin-top: 10px;
  }

    h3{
      color: rgba(0, 0, 0, 0.9);
      padding: 10px 15px;
  }
}

.payment__section__body {
  display: none;
  &.show{
    display: flex;
  }
}
