@import '../../styles/abstract/variables.scss';

.car-section__body {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .car-section__img {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
     width: 150px;
     height: 170px;
     border-radius: 5px;
     -o-object-fit: cover;
     object-fit: cover;
   }
  }

  .car-section__upload {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .car-section__upload p {
    font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1920 - 320)));
    margin-top: 12px;
    margin-bottom: 16px;
    text-align: center;
    @media screen and (min-width: 576px) {
      text-align: left;
    }
  }
  .personal__info .upload-img {
    position: relative;
  }
  .img_car {
    width:50%
  }
  .upload-btn{
    padding: 20px;
    position: relative;
  }
  .car-section__upload label {
    padding: 8px 20px;
    border-radius: 20px;
    background-color: #f8f8f8;
    background-color: $primary-color;
    font-size: 1.4rem;
    font-weight: 700;
    color: $white;
  }
  .upload-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 576px) {
      align-items: flex-start;
    }
  }
  .upload-img input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
  }
}

.buttons__add {
  display: flex;
  justify-content: flex-start;
  padding: 10px;

  button[type=button].submit_add {
    margin-top: 15px;
    border-radius: 5px;
    font-weight: 700;
    padding: 9px 14px;
    outline: 1px solid $primary-color;
    background-color: #ffffff;
    color: $primary-color;
    transition: all 0.5s ease;
  }
  button[type=submit].submit_add {
    margin-top: 15px;
    border-radius: 5px;
    font-weight: 700;
    padding: 9px 14px;
    outline: 1px solid $primary-color;
    background-color: $primary-color;
    color: $very-light-snow;
    transition: all 0.5s ease;
  }
  button[type=button].submit_add:hover  {
    background-color: $primary-color;
    color: #ffffff;
    outline: none;
  }
  button[type=submit].submit_add:hover  {
    background-color: $primary-color;
    color: #ffffff;
    outline: none;
  }
}

