@import '../../styles/abstract/variables.scss' ;

.review-box{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0px 1px 9px 3px rgb(228 228 228 / 81%);
  margin-bottom: 20px;
  .coupon-detail{
    padding: 10px;
    .promo-section{
      .coupon-title{
        font-size: 14px;
        font-weight: 700;
      }
      .coupon-input{
        width: 100%;
        display: flex;
        position: relative;
        select{
          font-size: 1.6rem;
          width: 60%;
          padding: 6px 6px;
          border: solid 1px #dfdfdf;
        }
        button{
          cursor: pointer;
          padding: 6px 12px;
          font-size: 1.6rem;
          background-color: #e9ecef;
          border-left: solid 1px #dfdfdf;
          position: absolute;
          top: 1px;
          right: 1px;
        }
      }
      .promos{

        .coupon-info{
          margin-top: 20px;
          .coupon-title{
            font-weight: bold;
          }
        }
      }
    }
  }
  @media screen and (min-width: 600px) {
    width: 80%;
  }
  @media screen and (min-width: 900px) {
    max-width: 700px;
  }
}
