@import '../abstract/variables.scss';

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: $font-standard;
  font-size: $fs-sm;
}

/* INPUT */

input {
  box-sizing: border-box;
}

input[type="radio"] {
  appearance: none;

  border-radius: 50%;
  width: 14px;
  height: 14px;

  border: 1px solid $light-gray;
  transition: 0.2s all linear;
  margin-right: 5px;
}

input[type="radio"]:checked {
  border: 4px solid $primary-color;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: $medium-gray;
}

input[type="checkbox"]+label {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #000000b3;
  text-transform: capitalize;
}

input[type="checkbox"]:checked {
  background-color: $primary-color;
}

input[type="checkbox"]:checked+label:after {
  width: 20px;
  height: 20px;
  background-image: url('./assets/icons/check-mark.svg');
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  top: 0px;
  left: -30px;
  position: absolute;
  background-size: 70%;
  display: block;
}

/* Button */

button {
  box-sizing: border-box;
}

button[type="button"].secondary-button,
button[type="submit"].secondary-button {
  padding: 5px 16px;
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: $primary-color;
  color: $white;
  cursor: pointer;
  transition: all 0.5s ease;
}

button[type="button"].secondary-button:hover,
button[type="submit"].secondary-button:hover {
  outline: 1px solid $primary-color;
  background-color: $white;
  color: $primary-color;
}

button[type="button"].terciary-button,
button[type="submit"].terciary-button {
  padding: 5px 16px;
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 700;
  outline: 1px solid $primary-color;
  background-color: $white;
  color: $primary-color;
  cursor: pointer;
  transition: all 0.5s ease;
}

button[type="button"].terciary-button:hover,
button[type="submit"].terciary-button:hover {
  background-color: $primary-color;
  color: $white;
}

.basic-margin {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.icon_edit, .icon_delete {
  margin: 10px;
  font-size: 22px;
  cursor: pointer;
}

.icon_delete {
  color: #ef3f3e;
}

.icon_edit {
  color: #4aa4d9;
}

/* Form */

.form-group {
  label {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
  }

  input {
    width: 100%;
    margin-top: 5px;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    padding: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320))) 10px;
    border-radius: 0.25rem;
    border: solid 1px $light-primary-color;

    &:focus {
      border: solid 1px $primary-color;
    }

    &::placeholder {
      opacity: 0.6;
    }
  }

  .forgot {
    text-align: end;

    p {
      display: inline-block;
      color: #898989;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }

      @media screen and (min-width: 900px) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .signin-btn {
    cursor: pointer;
    width: 100%;
    padding: 0.375rem 1.75rem;
    background-color: $primary-color;
    text-align: center;
    color: $white;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 9px 3px rgb(228 228 228 / 81%);
  }
}

.password-group {
  margin-bottom: 0;

  input {
    max-width: 300px;
  }
}
