@import '../abstract/variables.scss';

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: $font-standard;
  font-size: $fs-sm;
}

/* INPUT */

input {
  box-sizing: border-box;
}

input[type="radio"] {
  appearance: none;

  border-radius: 50%;
  width: 14px;
  height: 14px;

  border: 1px solid $light-gray;
  transition: 0.2s all linear;
  margin-right: 5px;
}

input[type="radio"]:checked {
  border: 4px solid $primary-color;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: $medium-gray;
}

input[type="checkbox"]+label {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #000000b3;
  text-transform: capitalize;
}

input[type="checkbox"]:checked {
  background-color: $primary-color;
}

input[type="checkbox"]:checked+label:after {
  width: 20px;
  height: 20px;
  background-image: url('./assets/icons/check-mark.svg');
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  top: 0px;
  left: -30px;
  position: absolute;
  background-size: 70%;
  display: block;
}

/* Button */

button {
  box-sizing: border-box;
}

button[type="button"].secondary-button {
  padding: 5px 16px;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: $primary-color;
  color: $white;
  cursor: pointer;
  transition: all 0.5s ease;
}

button[type="button"].secondary-button:hover {
  outline: 1px solid $primary-color;
  background-color: $white;
  color: $primary-color;
}

button[type="button"].terciary-button {
  padding: 5px 16px;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 700;
  outline: 1px solid $primary-color;
  background-color: $white;
  color: $primary-color;
  cursor: pointer;
  transition: all 0.5s ease;
}

button[type="button"].terciary-button:hover {
  background-color: $primary-color;
  color: $white;
}

.basic-margin {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
